.container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border: none;
  background-color: transparent;
  max-width: 35rem;
}

::backdrop {
  background-color: hsl(var(--hsl-neutral-900) / 0.75);
}

.btnClose {
  display: block;
  margin-left: auto;
  margin-bottom: 1.5rem;
  color: var(--clr-neutral-100);

  :hover {
    color: var(--clr-primary);
  }
}

.lightbox {
  overflow: visible;
}

.lightbox ul {
  justify-content: center !important;
  gap: 2rem !important;
}

.lightbox nav {
  --size: 3.5rem;
  display: flex !important;
  padding: 0 !important;
  width: calc(100% + var(--size)) !important;
  left: calc(var(--size) / -2);

  button {
    --btn-size: var(--size) !important;
  }
}
