.container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border: none;
  background-color: transparent;
  max-width: 35rem;
}

::backdrop {
  background-color: hsl(var(--hsl-neutral-900) / 0.75);
}

.btnClose {
  display: block;
  margin-left: auto;
  margin-bottom: 1.5rem;
  color: var(--clr-neutral-100);

  :hover {
    color: var(--clr-primary);
  }
}

.lightbox ul {
  justify-content: center !important;
  gap: 2rem !important;
}
