---
import Root from "@layouts/root.astro";
import Header from "@components/header.astro";
---

<Root
  title="E-commerce product page"
  googleFontUrl="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap"
>
  <Header />
  <h1>Astro</h1>
</Root>
