---
import Root from "@layouts/root.astro";
import Header from "@components/header.astro";
import ProductInfo from "@components/product-info.astro";
import DualButton from "@components/dual-button.astro";
import AddButton from "@components/add-button.astro";
import ProductGallery from "@components/product-gallery.astro";
import Lightbox from "@components/lightbox";
---

<Root
  title="E-commerce product page"
  googleFontUrl="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap"
>
  <Header />
  <main class="container main-container mb-lg">
    <ProductGallery />
    <div class="info-container">
      <ProductInfo class="mb-md" />
      <div class="actions-wrapper">
        <DualButton />
        <AddButton />
      </div>
    </div>
  </main>
  <Lightbox client:load>Hola</Lightbox>
</Root>

<style>
  .main-container {
    --padding-inline: 0;
    display: grid;
    gap: 1.5rem;

    @media (width >= 48rem) {
      --padding-inline: 3rem;
      padding-inline: clamp(0rem, -9rem + 18.75vw, 3rem);
      margin-top: 5rem;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
      gap: clamp(2rem, -4.8571rem + 14.2857vw, 8rem);
    }
  }

  .info-container {
    container-type: inline-size;

    @media (width < 48rem) {
      padding-inline: 1.5rem;
    }
  }

  .actions-wrapper {
    display: grid;
    gap: 1rem;

    @container (width >= 25rem) {
      grid-template-columns: 10rem 1fr;
    }
  }
</style>
