---
import Root from "@layouts/root.astro";
import Header from "@components/header.astro";
import ProductInfo from "@components/product-info.astro";
import DualButton from "@components/dual-button.astro";
import AddButton from "@components/add-button.astro";
import ProductGallery from "@components/product-gallery.astro";
---

<Root
  title="E-commerce product page"
  googleFontUrl="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap"
>
  <Header />
  <div class="container main-container mb-lg">
    <ProductGallery />
    <div class="">
      <ProductInfo class="mb-md" />
      <div class="actions-wrapper">
        <DualButton />
        <AddButton />
      </div>
    </div>
  </div>
</Root>

<style>
  .main-container {
    --padding-inline: 0;
    display: grid;
    gap: 1.5rem;

    @media (width >= 48rem) {
      --padding-inline: 3rem;
      padding-inline: 3rem;
      margin-top: 5rem;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
      gap: 8rem;
    }
  }

  .actions-wrapper {
    display: grid;
    gap: 1rem;

    @media (width >= 48rem) {
      grid-template-columns: 10rem 1fr;
    }
  }

  .gallery {
    /* TODO: cambiar */
    background-color: firebrick;
    width: 375px;
    height: 300px;

    @media (width >= 48rem) {
      width: 448px;
      height: 568px;
    }
  }
</style>
