---
import MobileMenuToggle from "@components/mobile-menu-toggle.astro";
import Navigation from "@components/navigation.astro";
import NavUser from "@components/nav-user.astro";
---

<header class="primary-header | container">
  <div class="flex-wrapper">
    <MobileMenuToggle
      id="mobile-menu-toggle"
      aria-controls="primary-navigation"
      aria-expanded="false"
    />
    <a href="#"><img src="/logo.svg" alt="sneakers" /></a>
    <Navigation id="primary-navigation" />
  </div>
  <NavUser />
</header>

<style>
  .primary-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (width<48rem) {
      height: 64px;
    }

    @media (width>=48rem) {
      padding-block: 2rem;
      border-bottom: 1px solid var(--clr-neutral-400);
    }
  }
</style>

<script>
  const menuToggle = document.getElementById(
    "mobile-menu-toggle"
  ) as HTMLButtonElement;
  const primaryNav = document.getElementById(
    "primary-navigation"
  ) as HTMLDivElement;
  const visuallyHiddenText = menuToggle.querySelector(
    "span"
  ) as HTMLSpanElement;

  menuToggle.addEventListener("click", () => {
    if (primaryNav.hasAttribute("data-visible")) {
      menuToggle.setAttribute("aria-expanded", "false");
      visuallyHiddenText.innerText = "Menu";
    } else {
      menuToggle.setAttribute("aria-expanded", "true");
      visuallyHiddenText.innerHTML = "Close";
    }
    primaryNav.toggleAttribute("data-visible");
  });
</script>
