---
import { Image } from "astro:assets";

import avatar from "@assets/images/avatar.png";
import Icon from "@components/icon.astro";
import CartButton from "./cart-button";
---

<nav class="flex-wrapper nav-user">
  <CartButton client:load>
    <Icon icon="cart" />
    <span class="visually-hidden">Menu</span>
  </CartButton>
  <a href="#" class="avatar">
    <Image src={avatar} alt="John Doe" width={50} height={50} />
  </a>
</nav>

<style>
  .nav-user {
    --flow-gap: 1.5rem;
  }

  .avatar {
    border-radius: 9999rem;
    border: 2px solid transparent;

    @media (width < 48rem) {
      & > img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &:hover,
    &:focus-within {
      border-color: var(--clr-primary);
    }
  }
</style>
