---
import ImagesNavigation from "@components/images-navigation.astro";
const imagesSrc = [
  "/images/product-1.jpg",
  // "/images/product-2.jpg",
  // "/images/product-3.jpg",
  // "/images/product-4.jpg",
];

const thumbnailsSrc = [
  "/images/thumbnail-1.jpg",
  "/images/thumbnail-2.jpg",
  "/images/thumbnail-3.jpg",
  "/images/thumbnail-4.jpg",
];
---

<div class="gallery">
  <div class="product-image">
    {imagesSrc.map((src) => <img src={src} alt="sneakers" />)}
    <ImagesNavigation class="gallery__navigation" />
  </div>
  <ul class="thumbnails">
    {
      thumbnailsSrc.map((src, idx) => (
        <li class="thumbnail">
          <button>
            <img src={src} alt={`thumbnails sneakers ${idx}`} />
          </button>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .product-image {
    position: relative;
    display: grid;
    align-content: center;
    overflow: hidden;

    @media (width <= 768px) {
      aspect-ratio: 1.25;
    }

    @media (width >= 768px) {
      border-radius: 1rem;
    }
  }

  .gallery__navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    @media (width >= 768px) {
      display: none;
    }
  }

  .thumbnails {
    display: none;

    @media (width >= 768px) {
      display: flex;
      gap: 0.5rem;
      justify-content: space-between;
      margin-top: 2rem;
    }
  }

  .thumbnail {
    max-width: 5.5rem;

    & > button {
      padding: 0;
      border-radius: 0.5rem;
      overflow: hidden;

      &:hover,
      &:focus-within {
        outline: 2px solid var(--clr-primary);

        & > * {
          opacity: 0.7;
        }
      }
    }
  }
</style>
